<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="PHPTSuite">
	<test name="PHPTravelsTest">

		<classes>
			<class name="com.phpt.base.TestBase"></class>
			<class name="com.phpt.currency.HomePage_Verification"></class>
		</classes>

	</test>
</suite> 
